body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
 }
 
 
 header {
  background-color: #ff6b81;
  color: white;
  text-align: center;
  padding: 20px 0;
 }
 
 
 h1 {
  margin: 0;
 }
 
 
 .cart {
  color: white;
  text-decoration: none;
  position: absolute;
  top: 20px;
  right: 20px;
 }
 
 
 main {
  flex: 1;
  padding: 20px;
 }
 
 
 .products {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
 }
 
 
 .product {
  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 250px;
 }
 
 
 .product img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
 }
 
 
 .price {
  font-weight: bold;
  color: #ff6b81;
 }
 
 
 .add-to-cart {
  background-color: #ff6b81;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
 }
 
 
 .add-to-cart:hover {
  background-color: #d04556;
 }
 
 
 footer {
  text-align: center;
  padding: 10px 0;
  background-color: #ff6b81;
  color: white;
 }
 
 
 .image-container {
  width: 250px; /* largura desejada */
  height: 300px; /* altura desejada */
  overflow: hidden; /* para esconder partes da imagem que ultrapassem as dimensões do contêiner */
  border-radius: 5px;
  margin-bottom: 10px;
 }
 
 
 .image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* para ajustar a imagem sem cortar e mantendo a proporção */
  border-radius: 2px; /* para herdar o arredondamento das bordas do contêiner */
 }
 
